body{
    background-color: rgb(87, 1, 1);
    border-style:groove;
    border-width: 10px;
    border-color: rgb(159, 159, 159);

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

main{
    display: flex;         /* Enables flexbox layout */
    justify-content: space-between; /* Optional: adds space between articles */
}

h1{
    text-align: center;
    color: gold;
}

h2{
    text-align: center;
    color:  white;
}

img{
    
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;

    border-style:outset;
    border-color: darkgray;
}